.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;

  p {
    margin: 0.3em;
  }
}

#head {
  font-size: 1.2em;
}

.sub {
  color: grey;
  font-size: 0.9em;
}

.right {
  color: #FF6B6B;
  font-size: 1.3em;
}
