<div>
  <div class="content">

    <div class="heading">
      <div class="also-heading">
        <h1> Expenses </h1>
        <p>Hello, {{ username() }}</p>
      </div>
      <p> Track your spending </p>
    </div>

    <div class="paginator">
      <button matButton>‹</button>
      <span>{{ this.startOfWeek }} - {{ this.endOfWeek }}</span>
      <button matButton>›</button>
    </div>

    <div class="circle-container">
      <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
        <circle r="47" cx="50" cy="50" stroke-width="0.4em" fill="none" stroke="#FF6B6B"/>
        <circle r="47" cx="50" cy="50" stroke-width="0.45em" fill="none" stroke="#145A4A"
                stroke-dasharray="295" [attr.stroke-dashoffset]="295 * (percentageSpent() / 100)" stroke-linecap="round"
                transform="rotate(-90 50 50)"/>
      </svg>
      <div class="circle-content">
        <div class="amount-container" [style.width]="((spendAmount() - totalSpent()).toString().length + 2) + 'ch'">
          <span>R</span>
          <input type="number"
                 [value]="spendAmount() - totalSpent()"
                 (click)="openSpendModal()">
          @if (isSpendModalOpen()) {
            <div class="backdrop" (click)="closeAndSaveSpendAmount()"></div>

            <mat-card class="spend-modal">
              <h3>Update Spend Amount</h3>
              <div class="amount-container">
                <span>R</span>
                <input #spendInput type="number"
                       [placeholder]="999"
                       (input)="onSpendInput(spendInput.value)">
              </div>
              <button (click)="closeAndSaveSpendAmount()">Save</button>
            </mat-card>
          }
        </div>
        <p class="circle-small-text" [style.color]="'white'"> Available </p>
        <p class="circle-small-text"> R{{ totalSpent().toFixed(2) }} spent </p>
      </div>
    </div>

    <div class="transactions-container">
      <div class="transactions-heading">
        <h2> Transactions </h2>
        <h3> {{transactions().length}} total </h3>
      </div>
      <div class="scrollable-container">
        @for (transaction of transactions(); track transaction) {
          <app-transaction-card [transaction]="transaction" />
        }
      </div>
      <div class="add-transactions">
        <button mat-fab (click)="openModal()"> + </button>
      </div>
    </div>

  </div>
  <app-modal #modal></app-modal>
</div>
