<div #myModal class="container">
  <mat-card>
    <div class="content">
      <div class="header">
        <p> Add Transaction </p>
        <button (click)="close()"> &#10006; </button>
      </div>

      <div class="inputs">
        <div class="input">
          <label>Description</label>
          <input type="text" [(ngModel)]="description" />
        </div>

        <div class="input">
          <label>Amount (R)</label>
          <input type="number" [(ngModel)]="amount" />
        </div>

        <div class="input">
          <label>Category</label>
          <input type="text" [(ngModel)]="category" />
        </div>
      </div>

      <div class="footer">
        <button id="cancel-button" (click)="close()">Cancel</button>
        <button id="add-button" (click)="saveTransaction()">Add</button>
      </div>
    </div>
  </mat-card>
</div>
